<%= turbo_frame_tag dom_id(@card, :comments) do %>
  <%= turbo_stream_from @card, "comments" %>

  <div id="comments">
    <% comments.each do |comment| %>
      <%= render comment %>
    <% end %>
  </div>
<% end %>
