<%= turbo_frame_tag dom_id(@card, :comments), class: "block h-full" do %>
  <%= turbo_stream_from @card, "comments" %>

  <div id="comments"
       data-controller="autoscroll"
       class="h-full overflow-y-auto">
    <% comments.each do |comment| %>
      <%= render comment %>
    <% end %>
  </div>
<% end %>
