<%= link_to new_board_path, class: "card border-2 border-dashed bg-base-200 rounded-lg shadow-xl opacity-50 hover:opacity-80 justify-center items-center" do %>
  <span class="text-5xl">+</span>
<% end %>
