<div class="container mx-auto p-4">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold">My Boards</h1>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 auto-rows-fr">
    <% @boards.each do |board| %>
      <%= render 'boards/board_link', board: board %>
    <% end %>

    <%= turbo_frame_tag "new_board_card", class: "contents" do %>
      <%= render 'boards/new_link' %>
    <% end %>
  </div>
</div>
